@{
    ViewData["Title"] = "Home Page";
}
<style>
    .gokul{
        background-image: url('bg.jpg');
    }
</style>
    <div class="text-center">
    <h1 class="display-4">Welcome to SportsBuzz</h1>
    <p>This application will help you to find the nearby ground(Badminton and Tennis) and allow you to book that ground.</p>
</div>
