@{
    ViewData["Title"] = "Home Page";
}
<div class="gokul" style="background-image:url('d:\gokul\projects\sportsbuzz-mvc\sportsmvc\views\shared\bg.jpg');">
    <img src=" d:\gokul\projects\sportsbuzz-mvc\sportsmvc\views\shared\bg.jpg" alt="Smiley face" width="42" height="42" style="vertical-align:bottom"><img src="d:\gokul\projects\sportsbuzz-mvc\sportsmvc\views\shared\bg.jpg" />
    <div class="text-center">
    <h1 class="display-4">Welcome to SportsBuzz</h1>
    <p>This application will help you to find the nearby ground(Badminton and Tennis) and allow you to book that ground.</p>
</div>
</div>
