@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Click here to check our <a href="https://www.privacypolicies.com/live/7ce1dcd2-390d-4cf3-94db-d0f1bf4f0910" target="_blank">privacy policy.</a></p>
