@model Models.DbModels.EditGround

@{
    ViewData["Title"] = "EditGround";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>EditGround</h1>

<h4>EditGround</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditGround">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
@*            <div class="form-group">
                <label asp-for="GroundId" class="control-label"></label>
                <input asp-for="GroundId" class="form-control" />
                <span asp-validation-for="GroundId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Venue" class="control-label"></label>
                <input asp-for="Venue" class="form-control" />
                <span asp-validation-for="Venue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="MyGround">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
