@model Models.DbModels.GroundRegister

@{
    ViewData["Title"] = "GroundRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GroundRegister</h1>

<script type="text/javascript">
    function validateForm() {
        var cname = document.getElementById("cname");
        if (cname.value == "") {
            alert("Company Name must be filled out");
            return false;
        }
        var venue = document.getElementById("venue");
        if (venue.value == "") {
            alert("Venue must be filled out");
            return false;
        }
        var city = document.getElementById("city");
        if (city.value == "") {
            alert("City must be filled out");
            return false;
        }
        var latitude = document.getElementById("latitude");
        if (latitude.value == "") {
            alert("Latitude must be filled out");
            return false;
        }
        var longitude = document.getElementById("longitude");
        if (longitude.value == "") {
            alert("Longitude must be filled out");
            return false;
        }
        var stype = document.getElementsByName("stype");
        if (stype[0].checked == false) {
            if (stype[1].checked == false) {
                alert("Sport type must be select!");
                return false;
            }
        }
    }
</script>

<h4>GroundRegister</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GroundRegister">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" id="cname" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Venue" class="control-label"></label>
                <input asp-for="Venue" id="venue" class="form-control" />
                <span asp-validation-for="Venue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" id="city" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Latitude" class="control-label"></label>
                <input asp-for="Latitude" id="latitude" class="form-control" />
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longitude" class="control-label"></label>
                <input asp-for="Longitude" id="longitude" class="form-control" />
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" name="stype" type="radio" asp-for="SportType" id="badmindon" class="form-control" value="1" />
                <label class="form-check-label" for="badmindon">Badmindon</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" name="stype" type="radio" asp-for="SportType" id="tennis" class="form-control" value="2" />
                <label class="form-check-label" for="tennis">Tennis</label>
                <span asp-validation-for="SportType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" onclick="return validateForm()" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="MyGround">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
