html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}


body {
    background-image: url("bg.jpg");
    background-size: 100%;
    margin-bottom: 60px;
    background-repeat: no-repeat;
    display: block;
}